<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="display: inline">Contacts</h2>
                <a class="btn btn-success pull-right" type="button" [routerLink]="['new']">New Contact</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <app-contact-item *ngFor="let contact of contacts" [contact]="contact" 
                        dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"></app-contact-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>